.white{
  background: white;
  padding: 5rem 0;
}

.grey,
.dark{
  padding: 3rem;
}

.grey{
  background: #EEE;
}

.dark{
  background-image: url("./geometricBg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  *{
    color: white;
  }
}
