@import "../../styles/variables";

.icon,
.iconDimmed{
  width: 5rem;
  margin-right: 1rem;
  // height: 5rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.iconDimmed{
  opacity: .4;
}

.img{
  display: block;
  width: 3rem;
  max-height: 4rem;
  margin-bottom: .5rem;
}
