@import "../../styles/variables";

.icon,
.iconDimmed{
  width: 5rem;
  margin-right: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  @include md{
    width: calc(25% - .75rem);
    margin-bottom: 1rem;
    &:nth-child(4n){
      margin-right: 0;
    }
  }
}
.iconDimmed{
  opacity: .4;
}
.img{
  display: block;
  width: 3rem;
  max-height: 3rem;
  margin-bottom: .5rem;
}
