@import "../../styles/variables";

.tile{
    padding: 2rem 0;
    &:not(:last-child){
        border-bottom: 1px solid $ltgrey;
    }
}

.header{
    // display: inline-block;
    font: $smHdrFont;
    margin-bottom: .5rem;
    // text-decoration: underline;
}

.date{
    font-weight: bold;
    display: block;
    margin-bottom: 1rem;
}

.link{
    display: block;
    margin-top: 1rem;
    color: $red;
    text-decoration: underline;
}