@import "../../styles/variables";

.content{
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: .6rem;
  text-align: center;
  padding: .25rem;
  color: white;
}

.light{
  background: white;
  color: $medgrey;
}