@import "../../styles/variables";

.main{
  position: fixed;
  top: 0;
  background: white;
  width: 100%;
  padding: 0 1rem;
  box-shadow: $bottomShadow;
  z-index: 2;
}

.buttonContainer{
  display: flex;
  justify-content: flex-end;
  @include md {
    justify-content: center;
  }
  a{
    text-decoration: none;
    background-origin: 0;
  }
  a:focus{
    outline: none;
  }
}
